.gitignore
Dockerfile

banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
logs/
ops.json
permissions.yml
plugins/
server.properties
spigot.yml
usercache.json
whitelist.json
world/*
!world/datapacks/
world/datapacks/*
!world/datapacks/CavesAndCliffsPreview.zip
world_nether/
world_the_end/
