.gitignore
Dockerfile

.fabric/
.mixin.out/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
config/
help.yml
logs/
fabric-server-launch.jar
fabric-server-launcher.properties
ops.json
permissions.yml
mods/
server.properties
server.jar
spigot.yml
usercache.json
whitelist.json
world/*
!world/datapacks/
world/datapacks/*
!world/datapacks/CavesAndCliffsPreview.zip
